version: "3.9"

services:
  frontend:
    build: .
    container_name: vue_frontend
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
