.text-field-container {
  position: relative;
  width: 100%;
  
  .text-field-label {
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    color: var(--color-border);
    pointer-events: none;
    padding: 0 0.25rem;
    transition: 0.2s ease;
  }

  .text-field {
    width: 100%;
    background-color: var(--color-bg);
    color: var(--color-text);
    border: 1px solid var(--color-border);
    border-radius: 5px;
    padding: 16px 16px;
    margin: 10px;
  
    &:hover {
      background-color: var(--color-hover-secondary);
    }
  
    &::placeholder {
      color: var(--color-text);
      opacity: 0.6;
    }
  
    &.rounded {
      border-radius: 9999px !important;
    }

    &:focus + .text-field-label,
    &:not(:placeholder-shown) + .text-field-label {
      top: 0.7rem;
      left: 1.3rem;
      background-color: var(--color-bg);
      border: 1px solid var(--color-border);
      font-size: 0.8rem;
      border-radius: 5px;
      padding-bottom: 0.1rem;
      color: var(--color-primary);
    }

    &:focus {
      border-color: var(--color-primary) !important;
    }

    &[data-floating='false'] + .text-field-label {
      top: 0.7rem;
      left: 1.3rem;
      background-color: var(--color-bg);
      border: 1px solid var(--color-border);
      font-size: 0.8rem;
      border-radius: 5px;
      padding-bottom: 0.1rem;
      color: var(--color-primary);
    }
  }
}