:root[data-theme='light'] {
  --color-bg: #ffffff;
  --color-text: #111827;
  --color-primary: #4f46e5;
  --color-border: #1e293b;
  --color-hover-primary: color-mix(in srgb, var(--color-primary) 90%, black 10%);
  --color-hover-secondary: color-mix(in srgb, var(--color-primary) 20%, white);
}
