@use 'style/variables';
@use 'style/themes/dark';
@use 'style/themes/light';
@use 'style/abstracts/mixins';
@use 'style/abstracts/tokens';
@use 'style/components/button';
@use 'style/components/text-field';

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  transition: background-color 0.2s, color 0.2s;
  font-family: $font-family-base;
}
